include LICENSE
include README.md
recursive-include aws_cdk_cli *.py
recursive-include aws_cdk_cli/licenses *
recursive-include aws_cdk_cli/node_modules *
recursive-exclude aws_cdk_cli/node_binaries * 